// Elementos Principales

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: larger;
}

// Formateo general del body

body {
  display: flex;
  flex-direction: column;
  height: $full-height;
  width: $full-width;
  overflow: hidden;
  font-family: $font-family-serif;
  background-color: $primary-color;
  align-items: center;
  font-size: $font-size-responsive;
  justify-content: center;

  // Imagen de tokyo como fondo principal de la web
  background-image: url("../images/tokyotower.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  text-align: center;

  a,
  i:hover {
    color: black;
  }

  @media (min-width: $big-dev-min-width) {
    font-size: $font-size-big;
  }


}

// Header, cabecera
header {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  width: $full-width;
  position: fixed;
  top: 0;
  z-index: 9999;
  height: $height-header-responsive;
  border-bottom: $standard-border;


  * {
    margin: auto;
    color: $primary-color;
  }


  @media (min-width: $med-dev-min-width) {
    border: $standard-border;
    height: $height-header-big;

    // Cambiamos la dirección del flex en la cabecera para que sea un menú horizontal cuando se visualiza en dispositivos medianos-grandes
    flex-direction: row;
  }

}


.main-container {
  scrollbar-color: $scroll-color;
  width: $full-width;
  background-color: $background-color;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: $height-header-responsive;
  overflow-y: auto;
  height: text-height($height-header-responsive);
  padding-bottom: sixth-height() + $height-header-responsive + 5vh;

  >* {
    text-align: center;
    justify-content: center;
    padding: 10px;

  }

  .slogan {
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $primary-color;
    font-weight: 800;
  }

  @media (min-width: $med-dev-min-width) {
    border-left: $standard-border;
    border-right: $standard-border;
    left: auto;
    right: 0;
    top: $height-header-big;
    height: text-height($height-header-big);
    padding-bottom: sixth-height() + $height-header-responsive;
  }

  @media (min-width: $big-dev-min-width) {
    width: third-width();

  }
}




.footer-img {
  scrollbar-color: $scroll-color;
  background-color: $background-color;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: $full-width;
  border-top: $standard-border;

  * {
    border-left: $standard-border;
    object-fit: scale-down;
    height: sixth-height();
  }


  overflow-x: auto;

}