<footer class="footer-img">
    <img src="assets/images/kabuchiko.jpg">
    <img src="assets/images/pagoda.webp">
    <img src="assets/images/shibuya.jpg">
    <img src="assets/images/tower.jpg">
    <img src="assets/images/ramen.jpg">
    <img src="assets/images/ueno.jpg"> 
    <img src="assets/images/pikachucafe.jpg">
    <img src="assets/images/akihabara.jpg"> 
    <img src="assets/images/samurais.avif"> 
    <img src="assets/images/taxitokyo.jpg"> 
    <img src="assets/images/lamparas.jpg"> 
    <img src="assets/images/geishas.webp">
</footer>