$font-family-serif: "Georgia", "Times New Roman", serif;
$primary-color: rgb(127 4 0);
$background-color: rgba(255 255 255 / 70%);
$scroll-color: $primary-color $background-color;
$font-size-responsive: 0.7rem;
$font-size-big: 0.9rem;
$standard-border: solid 5px black;
$full-height: 100vh;
$full-width: 100vw;
$height-header-responsive: 20vh;
$height-header-big: $height-header-responsive - 10vh;
$med-dev-min-width: 571px;
$big-dev-min-width: 992px;

